.DS_Store
result/
result-/
result-
result
.git-old
nohup.out
conversations/
home/config/zed/prompts/*
.crush/


home/config/zed/prompts
home/config/zed/conversations
home/tnixc/config/zed/prompts/prompts-library-db.0.mdb
